ultralytics==8.3.48
supervision==0.25.0
opencv-python-headless==4.10.0.84
numpy==1.26.4
httpx==0.28.0
aiofiles==24.1.0
python-dotenv==1.0.1
pydantic==2.10.3
pydantic-settings==2.6.1
pytz==2024.2
rich==13.9.4
